

.content {
    color:  white;
    background-color: green;
    border-style: solid;
    border-right: thin;
    overflow: auto;
    margin: auto;
    width: 50%;
    border: 3px solid yellowgreen;
    padding: 10px;

}