

.content {
    color:  gray;
    background-color: rgb(182, 240, 255);
    border-style: solid;
    border-right: thin;
    
    margin: 5px, 5px;
    width: 530px;
    border: solid ;
    padding: 10px;

}