
.add-button {
    background-color: whitesmoke;
    color: brown;
    border-radius: 11px;
    size: 90px;
}
.add-button:hover {
    cursor: pointer;
    background-color: rgb(197, 64, 224);
    color: white;
    font-family:Comic Sans, Comic Sans MS, cursive ; 
}

#row {
    text-align: center;
}

.bar{
    padding-left: 5px;
    margin: auto;;
    block-size: 35px;
    background-color: whitesmoke;
    width: 530px;
}
.clearfix{
    overflow: auto;
    background-color: whitesmoke;
}